@import '../../styles/var.scss';
@import '../../styles/mixins.scss';
@import '../../styles/base/typography.scss';

.headerContainer {
  width: 100%;
  // width: 1440px;
  height: 172px;
  transition: height 2s;
  background: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // top: 10px;
  // left: 20px;
  padding-top: 32px;
  gap: 24px;

  &.scrolledHeader {
    height: 96px;
  }

  .rowOne {
    width: 816px;
    height: 56px;
    // position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
      height: 50px;
    }
    .nav {
      all: unset;
      width: 578px;
      float: right;
      // position: absolute;
    }
  }

  .rowTwo {
    width: 1232px;
    height: 60px;
    background: $white;
    // padding: 16px 0 16px 0;
    padding-bottom: 16px;
    display: flex;
    border-bottom: 1px solid lighten($primary, 30%);
    justify-content: space-between;
    &.stickyRowTwo {
      position: fixed;
      overflow: hidden;
      // position: sticky;
      // position: -webkit-sticky;
      top: 0;
      padding-top: 10px;
      z-index: 999;
    }
    .catalogButton {
      width: 168px;
      height: 44px;
      display: flex;
      // @include buttonL();
      align-items: center;
      justify-content: center;
      @extend .paragraph4;
      padding: 12px 32px;
      border-radius: 8px;
      border: none;
      gap: 8px;
      @include buttonPrimaryColor;
      .active {
        border: 1px solid $primary;
        border-radius: 8px;
      }

      // &.isSticky {
      //   position: fixed;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   z-index: 999;
      //   animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
      //   // padding-top: 0px;
      //   // padding-bottom: 0px;
      // }
    }

    .searchContainer {
      position: relative;
      input[type='search'] {
        width: 816px;
        height: 44px;
        padding: 0px 8px 0px 16px;
        gap: 8px;

        // @include inputs;
        @extend .paragraph3;
        border-radius: 8px;
        text-align: left;
        outline: none;
        @include bordered(1px, lighten($primary, 30%));
      }
      &:placeholder-shown {
        color: lighten($natural, 20%);
      }
      .magnifyingGlass {
        position: absolute;
        right: 15px;
        top: 12px;
        width: 18px;
        height: 18px;
        border: none;
      }
    }

    .iconsContainer {
      width: 164px;
      height: 44px;
      gap: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .userIcon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0px;
      }
      .heartIcon {
        // position: relative;
        // right: 120px;
        // top: 50px;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0px;
      }
      .backetIcon {
        // position: relative;
        // right: 120px;
        // top: 50px;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0px;
      }
    }
  }
}
