@import '../../styles/var.scss';
@import '../../styles/mixins.scss';
@import '../../styles/base/typography.scss';

.headerContainer {
  width: 100%;
  height: 172px;
  transition: height 2s;
  background: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  gap: 24px;

  &.scrolledHeader {
    height: 96px;
  }

  .rowOne {
    width: 816px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
      height: 50px;
    }
    .nav {
      all: unset;
      width: 578px;
      float: right;
    }
  }

  .rowTwo {
    width: 92vw;
    height: 60px;
    background: $white;
    padding-bottom: 16px;
    display: flex;
    border-bottom: 1px solid $primary-20;
    justify-content: space-between;
    &.stickyRowTwo {
      position: fixed;
      overflow: hidden;
      top: 0;
      padding-top: 10px;
      z-index: 999;
    }
    .catalogButton {
      width: 168px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .paragraph4;
      padding: 12px 32px;
      border-radius: 8px;
      border: none;
      gap: 8px;
      @include buttonPrimaryColor;
      .active {
        border: 1px solid $primary-50;
        border-radius: 8px;
      }
    }

    .searchContainer {
      display: flex;
      flex-direction: row;
      width: 816px;
      height: 44px;
      padding: 0px 8px 0px 16px;
      outline: none;
      border-radius: 8px;
      @include bordered(1px, $primary-20);
      width: 816px;
      height: 44px;
      padding: 0px 8px 0px 16px;
      outline: none;

      input[type='search'] {
        width: 95%;
        gap: 8px;
        border: none;
        @extend .paragraph3;
        text-align: left;
      }
      &:placeholder-shown {
        color: $natural-30;
      }
      .magnifyingGlass {
        float: left;
        right: 15px;
        top: 12px;
        border: none;
        background: none;
      }
    }

    .iconsContainer {
      width: 164px;
      height: 44px;
      gap: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .userIcon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0px;
      }
      .heartIcon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0px;
      }
      .backetIcon {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0px;
      }
    }
  }
}
